.weatherImg{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 300px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
    padding: 20%;
    
}